header{
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#login-img{
  width: 100%;
}

#login-component-placeholder{
  display: grid;
}
#login-component-placeholder button,
#login-component-placeholder p{
  justify-self: center;
}
#login-btn{
  width: 50px;
  padding: 0px;
  border-radius: 50%;
}
#nav-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-around;
}
li{
  padding: 10px;
  list-style-type: none;
}
@media screen and (min-width: 600px) {
  #nav-list{
    justify-content: space-around;
  }
}