header{
  display: grid;
  grid-template-columns: 5fr 1fr;
}
/*  azure, lightblue, lightcyan */
body{
  background-color: azure;
}
body > * {
  background-color: white;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

#login-img{
  width: 100%;
}

#login-component{
  display: grid;
}
#login-component button,
#login-component p{
  justify-self: center;
}
#login-btn{
  width: 50px;
  padding: 0px;
  border-radius: 50%;
}
#nav-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-around;
}
li{
  padding: 10px;
  list-style-type: none;
}
/* @media screen and (min-width: 600px) {
  #nav-list{
    justify-content: space-around;
  }
} */

/* geleende code */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(16, 167, 218);
  margin: 0;
  padding: 5px;
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
@media screen and (max-width : 400px) {
  nav ul li a {
    padding: 10px;
  }
}

nav li {
  font-size: 16px;
}

nav ul li a:hover {
  background-color: darkblue;
  /* een probleem met Link -> NavLink active class opgelost */
  color: white; 
}

nav a.active {
  color: darkblue;
}

.card:hover,
.card-body button:hover {
  cursor: pointer;
}
.card-body:hover {
  cursor: default;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}

/* TODO: kan verbeteren */
.foto-card-list{
  min-width: 343px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(1fr auto); */
}

.card{
  width: 18rem;
}

/* albums-select */
.album-list-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.album-item {
  position: relative;
  margin-right: 15px;
  flex-shrink: 0;        /* Prevent shrinking of items */
  max-width: 150px;
  word-wrap: break-word; /* Allows breaking of long words */
  white-space: normal;   /* Allows wrapping to a new line */
  overflow: hidden;      /* Hides overflow content */
  text-align: center;    /* Center the text */
  margin-top: 5px;       /* Small margin to separate from the image */
}
.album-item p {
  max-width: 150px;
  overflow: auto;
}

.selected {
  border: 2px solid blue;
  border-radius: 10px;

}
.selected img {
  margin-right: 5px;
}

/* container for Album image (repr by empty folder) */
.thumbnail {
  cursor: pointer;
  display: inline-block;
}

.thumbnail img{
  height: 150px;
  width: 150px;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
  color: firebrick;
}
.album-item .delete-button {
  top: 30px;
}

/* albumcards and albumcard delete override */
.albumCard {
  width: 150px;
  margin: 10px;
  position: relative;
}

.albumCardImage {
  height: 150px;
  object-fit: cover;
}

.card .delete-button {
  color: white;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease, top 0.3s ease;
}
.card:hover .delete-button {
  opacity: 1; /* Show the button on hover */
  top: 10px; /* Adjust as needed, move down by 20px from the default position */
}
