header{
  display: grid;
  grid-template-columns: 5fr 1fr;
}
/*  azure, lightblue, lightcyan */
body{
  background-color: azure;
}
body > * {
  background-color: white;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

#login-img{
  width: 100%;
}

#login-component-placeholder{
  display: grid;
}
#login-component-placeholder button,
#login-component-placeholder p{
  justify-self: center;
}
#login-btn{
  width: 50px;
  padding: 0px;
  border-radius: 50%;
}
#nav-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-around;
}
li{
  padding: 10px;
  list-style-type: none;
}
/* @media screen and (min-width: 600px) {
  #nav-list{
    justify-content: space-around;
  }
} */

/* geleende code */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(16, 167, 218);
  margin: 0;
  padding: 5px;
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li {
  font-size: 16px;
}

nav ul li a:hover {
  background-color: darkblue;
  /* een probleem met Link -> NavLink active class opgelost */
  color: white; 
}

nav a.active {
  color: darkblue;
}

.card :hover {
  cursor: pointer;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}
